.faq{
	border:1px double black;
	position:relative;
	top:10px;
	left;30px;
	width:930px;
	height:800px;
	background:white;
	margin-left: auto;
	margin-right: auto;
}
.faqhead{
	width:920px;
	height:50px;
	position:relative;
	top:5px;
	left:5px;
}
